
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="utf-8">
  <title>CR∃D</title>
  <meta name="description" content="Cred, music for you by you">
  <meta name="author" content="Donovan Powers">
   
  

   
   
  <link rel="icon" href="images/favic.png">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
  </head>

  <body>



      
      <nav class="navbar navbar-default navbar-static-top" id="navvv">
          <div class="container">
            <p class="navbar-text navbar-right" id="signOut"> <button class="myButton"> Sign Out </button></p>
            <p class="navbar-text navbar-right" id="regButton"> <button class="myButton"> Register? </button></p>

                <p class="navbar-text navbar-right" id="signIn"> <button class="myButton"> Log in? </button></p>
                <p class="navbar-text navbar-right" id="signedInAs"></p>

                <a href="#" class="navbar-text navbar-left" id="spendCred"> </a>
                 <a href="#" class="navbar-text navbar-left" id="uploadTrack"></a>
                  <p class="navbar-text" id="credScore"></p>
          </div>
                  

                
      </nav>

      <div class="container-fliud form" id="register">
        <form>

            <input class="u-full-width" type="text" placeholder="Username" id="setUsername">
              
             <input class="u-full-width" type="text" placeholder="Password" id="setUserPass">
       
                <input class="myButton submit" type="submit" value="register" id="registerUser" style="width: 100px;margin-right: 10px;">
                
        

        </form>
      </div>

      <div class="container-fliud form" id="logForm">
        <form>

            <input class="u-full-width" type="text" placeholder="Username" id="getUsername">
              
             <input class="u-full-width" type="text" placeholder="Password" id="getUserPass">
       
                <input class="myButton submit" type="submit" value="login" id="logUser" style="width: 100px;margin-right: 10px;">
                
 </form>

      </div>
<div id = "uploadForm" class="container-fliud form" >

       
            
    <form enctype = "multipart/form-data" action = "/uploadSong" method = "post">
    <h4>Upload Album Art</h4>
    <input type="file" name="cover">
    <h4>Upload Mp3</h4>
    <input type="file" name="song">
    <input type="text" name="title" placeholder="Song Name">
    <input type="text" name="artist" placeholder="Artist">
    <input type="text" name="user" placeholder="User to Credit">
    <input type="submit" value="Upload" name="submit">
    </form>

</div>

<div id = "credMenue" class="container-fluid form">
  <button class="myButton" id="skipSong">Skip Current Song (20 cred)</button>

</div>

      <div class="container song-info">
        <h3 id="title"></h3>
      </div>

     

      <div class="container-fluid">
        <div class="row-fluid">
          <div class="col-md-2 side">
            <div class="side">
              <p class="chatHead"> Up next...</p>
           <ul id="que">
            </ul>
            </div>
            <button class="sendChat" id="credUp" align="center">Give this song Cred</button> 
          </div>  
          
          <div class="col-md-8">
            <img src="images/cover.png" class="art" id="coverArt">

          </div>
          <div class="col-md-2 side">
           
            <div>
              <p class="chatHead"> Whats on your mind?</p>

            </div>
            <div id="chat">
              
            
            <ul id="messages">
                
            </ul>
            </div>
            <form action="" id="sideChat" align="center">
      <input id="m" autocomplete="off" /><button class="sendChat" > Send </button>
            </form>
            </div>  

            

        </div> 
      </div>
      <div class="container-fluid">
     
        
      
    </div>
      

<audio controls id="player">
  
  <source id="playerSource" src="" type="audio/mpeg" >
Your browser does not support the audio element.
</audio>
      <br><br>
      <footer align="center"><a href="#" id="foot"> </a></footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Notice that socket.io adds a path to its client-side js that is not in /public -->
  <script src="/socket.io/socket.io.js"></script>
  <!-- This is my example client-side javascript that uses socket.io -->
  <script src="/js/clientSocket.js"></script>
     
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="js/scripts.js"></script>
   
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>