
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="utf-8">
  <title>CR∃D</title>
  <meta name="description" content="Cred, music for you by you">
  <meta name="author" content="Donovan Powers">
   
  

   
   
  <link rel="icon" href="images/favic.png">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
  </head>

  <body>



      
      <nav class="navbar navbar-default navbar-static-top">
          <div class="container">
                <p class="navbar-text navbar-right">Signed in as  - <a href="#" class="navbar-link">Sign out?</a></p>
                <p class="navbar-text navbar-left">Spend Cred </p>
                 <p class="navbar-text navbar-left">Upload a track </p>
                  <p class="navbar-text">Cr∃d Score : </p>
          </div>
                  
                
      </nav>
      <div class="container song-info">
        <h3>Now playing</h3>
      </div>

     

      <div class="container-fluid">
        <div class="row-fluid">
          <div class="col-md-2 side">

           <ul id="que">
              <li>test</li>
            </ul>
          </div>  
          <div class="col-md-8">
            <img src="images/cover.png" class="art">
          </div>
          <div class="col-md-2 side">
           <h1 class="chatHead"> Whats on your mind?</h1>
            <ul id="messages">
                <li>test</li>
              </ul>
            <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
            </form>
            </div>   

        </div> 
      </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Notice that socket.io adds a path to its client-side js that is not in /public -->
  <script src="/socket.io/socket.io.js"></script>
  <!-- This is my example client-side javascript that uses socket.io -->
  <script src="/js/clientSocket.js"></script>
     
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="js/scripts.js"></script>
   
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>