@font-face {
    font-family: 'Vapor'; /*a name to be used later*/
    src: url('../fonts/vaporwave.ttf'); /*URL to font*/
}

body {
background: #d6a9d6;/* Old Browsers */
background: -moz-linear-gradient(top, #d6a9d6 0%, #211852 100%); /* FF3.6+ */
background: -webkit-gradient(left top, left bottom, color-stop(0%, #d6a9d6), color-stop(100%, #211852));/* Chrome, Safari4+ */
background: -webkit-linear-gradient(top, #d6a9d6 0%, #211852 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #d6a9d6 0%, #211852 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #d6a9d6 0%, #211852 100%); /* IE 10+ */
background: linear-gradient(to bottom, #d6a9d6 0%, #211852 100%);/* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6a9d6', endColorstr='#211852', GradientType=0 );/* IE6-9 */
 height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.art{
   width: 50%;
   
   display:block;
   margin:auto;

}

.chatHead{
    text-align: center;
    font-family: 'Vapor';
    


}

.song-info{
   text-align: center;

}

.side{
    background: #ffffff;
    
    


}

#chat{
    background: #ffffff;
    overflow-y: auto;
    height: 300px;
}

#messages{
list-style-type: none; 
margin: 0; 
padding: 0; 

}

#messages li:nth-child(odd){
   background: #eee; 

}

#messages li{
  padding: 5px 10px; 

}

ul li{
     word-break: break-all;
}